body {
    height: 100vh;
}

.contact-enter {
    opacity: 0;
    transform: translateY(100%);
  }
.contact-enter-active {
opacity: 1;
transform: translateY(0);
transition: opacity 500ms, transform 500ms;
}

.contact-exit {
opacity: 1;
transform: translateY(0);
}

.contact-exit-active {
opacity: 0;
transform: translateY(100%);
transition: opacity 500ms, transform 500ms;
}

.contact-container {
position: fixed;
bottom: 0;
left: 0;
right: 0;
padding: 20px;
background-color: white;
border-top: 1px solid #ccc;
}